.bg {
    background: #F5F5FA;
}

.equity-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $link;
    text-decoration: none;
    display: flex;
    position: relative;
    padding-top: 30px;
    padding-bottom: 10px;
}

.equity-link::after {
    content: url('../img/vector.svg');
    position: absolute;
    left: 126px;
}

.title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.public {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

.equity {
    img {
        width: 100%;
        height: 200px;
    }

    .equity__card {
        padding: 30px;
        background: #FFFFFF;
    }

    .caption {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #24A3FF;
        padding-bottom: 15px;
    }

    .date {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #B3B3BA;
        margin-bottom: 15px;
    }

    .line {
        background: #E6E6F0;
        height: 4px;
        margin-bottom: 15px;
    }
}


@media (min-width: 768px) {
    .public {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .fff {
            grid-column: span 2;
        }
    }
}


@media (min-width: 992px) {
    .public {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        .fff {
            grid-column: span 1;
        }
    }
}
